name: Release

permissions:
  id-token: write
  contents: write

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # - name: Install pnpm
      #   uses: pnpm/action-setup@v4

      - name: Use Node.js v18
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          # registry-url: https://registry.npmjs.org/
          # cache: pnpm
      
      #- run: pnpm install

      - run: pnpm dlx changelogithub
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
